<h1 class="text-style"> Add A New Service </h1>

<div class="text-style">
  <%= form_for @service do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>
  <%= f.label :cost, "Cost" %>
  <%= f.text_field :cost %>
</div>
  <%= f.submit %>
  <% end %>
