<h1 class="center-text">Service Details</h1>

<% if current_user %>
  <%= link_to "Add A Review", new_service_review_path(@service)%><br>
  <%= link_to "Edit", edit_service_path(@service) if current_user.admin == true %><br>
  <%= link_to "Delete", service_path(@service), :data => {:confirm => "Are You Sure You Want To Delete This Service?", :method => "delete"} if current_user.admin == true %>
<% end %>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @service.name %> </h1>
        <h4> $ <%= @service.cost %> </h4>
      </div>
      <div class="panel-body">
        <p> <%= @service.description %> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<% if @service.reviews.any? %>
<h3>Reviews</h3>
  <% @service.reviews.each do |review| %>
    <p> <%= review.content %> </p>
    <h5> Written By: <%= review.author %> </h5>
  <% end %>
<% end %>
