<h1 class="center-text">Service Details</h1>


<div class="row">
  <%= link_to "Add A Review", new_service_review_path(@service) if current_user %>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1> <%= @service.name %> </h1>
        <h4> $ <%= @service.cost %> </h4>
      </div>
      <div class="panel-body">
        <p> <%= @service.description %> </p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<h3>Reviews</h3>
<% if @service.reviews.any? %>
  <% @service.reviews.each do |review| %>
    <p> <%= review.content %> </p>
    <h5> Written By: <%= review.author %> </h5>
  <% end %>
<% end %>
