
<%= render 'layouts/errors', :object => @user %>
<div class="text-style">
  <h1> Sign up</h1>
  <%= form_for @user do |f| %>
  <%= f.label :user_name, "User Name" %>
  <%= f.text_field :user_name %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up" %>
  <% end %>
</div>
