<!DOCTYPE html>
<html>
  <head>
    <title>MilesOfSmiles</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Permanent+Marker|Righteous|Shrikhand|Zilla+Slab" rel="stylesheet">
  </head>

  <body>

    <div class="bg-color-block">
      <div class="bg-img"></div>
    </div>

    <div class="my-nav">
      <div class="container">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Services", services_path %></li>
        <% if current_user %>
          <li class="li-right"><%= link_to "Sign out", signout_path %></li>
          <li class="li-right"><%= link_to current_user.user_name, user_path(current_user) %></li>
        <% else %>
          <li class="li-right"><%= link_to "Sign up", signup_path %></li>
          <li class="li-right"><%= link_to "Sign in", signin_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="container">
        <p><%= flash[:alert] %></p>
        <p><%= flash[:notice] %></p>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
